<div id="wrapper">
  <div class="nav-bar clearfix">
   <div class="row">
    <div class="mobile-menu-button">
     <a href="#">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="menu no-home">
   <nav class="col utility ">
    <ul class="clearfix invisible">
     <li><a href="/">&lt; <span>Home</span></a></li>
   </ul>
 </nav>
 <nav class="col  main">
  <ul class="nav clearfix">
   <li><a href="../#top" title = "Top">Home</a></li>
   <li><a href="../#get-involved" title = "Get Involved">Get Involved</a></li>
   <li><a href="../#speakers" title = "Speakers">People &amp; Events</a></li>
   <li><a href="../#sponsors" title = "Sponsors">Sponsors</a></li>
   <li><a href="/blog/index.html" title = "Blog">Blog</a></li>
 </ul>
</nav>
</div>
</div>
</div>
