<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title | Prompt - Mental health in the technology industry }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Lato:200,400,700,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script src='{{ "/js/vendor/modernizr-2.6.2.min" | prepend: site.baseurl }}'></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src='{{ "/js/vendor/jquery-1.9.1.min.js" | prepend: site.baseurl }}'></script>
  <script src='{{ "/js/plugins.js" | prepend: site.baseurl }}'></script>
  <script src='{{ "/js/main.js" | prepend: site.baseurl }}'></script>
</head>
<body  data-spy="scroll" data-target=".main" data-offset="50">

